sandpit/statemachines/controller_state_machine.json
{
  "Comment": "BUA Controller",
  "StartAt": "next_state",
  "States": {
    "call_fast_controller": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "TimeoutSeconds": 180,
      "InputPath": "$",
      "ResultPath": "$",
      "OutputPath": "$",
      "Next": "next_state"
    },
    "call_slow_controller": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "TimeoutSeconds": 900,
      "InputPath": "$",
      "ResultPath": "$",
      "OutputPath": "$",
      "Next": "next_state"
    },
    "next_state": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "execution_done"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": "0",
          "Next": "next_wait"
        }
      ],
      "Default": "next_transition"
    },
    "next_wait": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "next_transition"
    },
    "next_transition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "next_transition_slow"
        }
      ],
      "Default": "next_transition_fast"
    },
    "next_transition_fast": {
      "Type": "Pass",
      "Result": "$.next",
      "ResultPath": "$.this",
      "Next": "call_fast_controller"
    },
    "next_transition_slow": {
      "Type": "Pass",
      "Result": "$.next",
      "ResultPath": "$.this",
      "Next": "call_slow_controller"
    },
    "execution_done": {
      "Type": "Succeed"
    }
  }
}
