states/basicreads-machine.json
{
  "Comment": "Basic Reads",
  "StartAt": "BasicReads",
  "States": {
    "BasicReads": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "Basic Reads",
        "next": "220_clear_error_queues",
        "speed": "slow",
        "retry_delay": 120,
        "data": {
          "update_id": "12",
          "suffix": "bua-sql",
          "domain": "cmil2mssslzz.ap-southeast-2.rds.amazonaws.com",
          "schema": "Turkey_BLU",
          "rdssecret": "cicd/tst-anstead/rds/bua"
        },
        "steps": {
          "220_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "221_generate_basic_reads"
              }
            }
          },
          "221_generate_basic_reads": {
            "action": "bua_initiate",
            "args": {
              "run_type": "BasicRead",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "222_wait_for_basic_reads"
              }
            }
          },
          "222_wait_for_basic_reads": {
            "action": "wait_for_empty_site_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "223_check_bua_control"
              },
              "FAILED": {}
            }
          },
          "223_check_bua_control": {
            "action": "check_bua_control",
            "args": {
              "run_type": "BasicRead"
            },
            "on": {
              "COMPLETE": {},
              "FAILED": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
