states/bua-scaledown-machine.json
{
  "Comment": "Scale down services",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "schema": "Turkey_BLU",
          "suffix": "bua-sql"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "ScaleDown"
    },
    "ScaleDown": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "Scale Down",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "rdssecret",
                "update_id",
                "cluster_name",
                "node_group_name"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "250_scale_down_deployments"
              }
            }
          },
          "250_scale_down_deployments": {
            "comment": "kubectl -n core scale --replicas=0 deployment --all",
            "action": "scale_replicas",
            "args": {
              "namespace": "core",
              "deployment": [
                "workflow",
                "meterdata"
              ],
              "replicas": 0
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "260_scale_down_nodegroup"
              }
            }
          },
          "260_scale_down_nodegroup": {
            "action": "scale_nodegroup",
            "args": {
              "min_size": 0,
              "max_size": 1,
              "desired_size": 0
            },
            "on": {
              "RUNNING": {
                "next": "261_wait_for_scale_down_nodegroup"
              },
              "FAILED": {},
              "TERMINATE": {},
              "COMPLETE": {}
            }
          },
          "261_wait_for_scale_down_nodegroup": {
            "action": "wait_for_scale_nodegroup",
            "on": {
              "FAILED": {},
              "TERMINATE": {},
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
