states/bua-machine.json
{
  "Comment": "Bottom Up Accruals",
  "StartAt": "BUA",
  "States": {
    "BUA": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload": {
          "type": "step",
          "name": "BUA",
          "action": "get_stepfunction_arns",
          "stepfunction": {
            "bua-reset-basicreads": "",
            "bua-basicreads": "",
            "bua-invoiceruns": "",
            "bua-restore": ""
          },
          "start.$": "$.start"
        }
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.start",
          "StringEquals": "ResetBasicReads",
          "Next": "ResetBasicReads"
        },
        {
          "Variable": "$.start",
          "StringEquals": "BasicReads",
          "Next": "BasicReads"
        },
        {
          "Variable": "$.start",
          "StringEquals": "InvoiceRuns",
          "Next": "InvoiceRuns"
        },
        {
          "Variable": "$.start",
          "StringEquals": "Restore",
          "Next": "Restore"
        }
      ],
      "Default": "ResetBasicReads"
    },
    "ResetBasicReads": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "context": {
            "stepfunction.$": "$.stepfunction"
          },
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$": "$.stepfunction.bua-reset-basicreads",
        "Name.$": "States.Format('{}-{}', $.data.run_date, States.UUID())"
      },
      "ResultSelector": {
        "Output.$": "States.JsonMerge($$.Execution.Input.context, $.Output, false)"
      },
      "OutputPath": "$.Output",
      "Next": "BasicReads"
    },
    "BasicReads": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "context": {
            "stepfunction.$": "$.stepfunction"
          },
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$":"$.stepfunction.bua-basicreads",
        "Name.$": "States.Format('{}-{}', $.data.run_date, States.UUID())"
      },
      "ResultSelector": {
        "Output.$": "States.JsonMerge($$.Execution.Input.context, $.Output, false)"
      },
      "OutputPath": "$.Output",
      "Next": "ExecutionDone"
    },
    "InvoiceRuns": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "context": {
            "stepfunction.$": "$.stepfunction"
          },
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$":"$.stepfunction.bua-invoiceruns",
        "Name.$": "States.Format('{}-{}', $.data.run_date, States.UUID())"
      },
      "ResultSelector": {
        "Output.$": "States.JsonMerge($$.Execution.Input.context, $.Output, false)"
      },
      "OutputPath": "$.Output",
      "Next": "ExecutionDone"
    },
    "Restore": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "context": {
            "stepfunction.$": "$.stepfunction"
          },
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$":"$.stepfunction.bua-restore",
        "Name.$": "States.Format('{}-{}', $.data.run_date, States.UUID())"
      },
      "ResultSelector": {
        "Output.$": "States.JsonMerge($$.Execution.Input.context, $.Output, false)"
      },
      "OutputPath": "$.Output",
      "Next": "ExecutionDone"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    }
  }
}
