states/bua-scaleup-meterdata-machine.json
{
  "Comment": "Scale up meterdata service",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12",
          "rdssecret": "cicd/{{prefix}}/rds/bua",
          "node_group_name": "managed-ng-anstead-demand-1-22-v20230914"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "ScaleUpMeterdata"
    },
    "ScaleUpMeterdata": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "Scale Up Meterdata",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "cluster_name"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "190_scale_up_nodegroup"
              }
            }
          },
          "190_scale_up_nodegroup": {
            "action": "scale_nodegroup",
            "args": {
              "min_size": 10,
              "max_size": 10,
              "desired_size": 10
            },
            "on": {
              "RUNNING": {
                "next": "191_wait_for_scale_up_nodegroup"
              },
              "FAILED": {},
              "TERMINATE": {},
              "COMPLETE": {
                "next": "195_scale_up_meterdata"
              }
            }
          },
          "191_wait_for_scale_up_nodegroup": {
            "action": "wait_for_scale_nodegroup",
            "on": {
              "FAILED": {},
              "TERMINATE": {},
              "COMPLETE": {
                "delay": 300,
                "next": "195_scale_up_meterdata"
              }
            }
          },
          "195_scale_up_meterdata": {
            "comment": "kubectl -n core scale --replicas=6 deployment meterdata",
            "action": "scale_replicas",
            "args": {
              "namespace": "core",
              "deployment": [
                "meterdata"
              ],
              "replicas": 8
            },
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "195_wait_for_scale_up_meterdata"
              }
            }
          },
          "195_wait_for_scale_up_meterdata": {
            "action": "check_replicas",
            "args": {
              "namespace": "core",
              "deployment": [
                "meterdata"
              ],
              "replicas": 8
            },
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
