states/bua-segments-machine.json
{
  "Comment": "Generate Segments",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "domain": "cmil2mssslzz.ap-southeast-2.rds.amazonaws.com",
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12",
          "rdssecret": "cicd/{{prefix}}/rds/bua"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "GenerateSegments"
    },
    "GenerateSegments": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Segments",
        "next": "130_clear_error_queues",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "130_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "130_utility_profiles"
              }
            }
          },
          "130_utility_profiles": {
            "action": "bua_initiate",
            "args": {
              "run_type": "Utility"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "130_wait_for_utility_profiles"
              }
            }
          },
          "130_wait_for_utility_profiles": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "140_clear_error_queues"
              }
            }
          },
          "140_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "140_jurisdiction_segments"
              }
            }
          },
          "140_jurisdiction_segments": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdiction",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "140_wait_for_jurisdiction_segments"
              }
            }
          },
          "140_wait_for_jurisdiction_segments": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "150_clear_error_queues"
              }
            }
          },
          "150_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "150_segment_jurisdiction_check"
              }
            }
          },
          "150_segment_jurisdiction_check": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdictionCheck",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "150_wait_for_segment_jurisdiction_check"
              }
            }
          },
          "150_wait_for_segment_jurisdiction_check": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "160_clear_error_queues"
              }
            }
          },
          "160_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "160_segment_jurisdiction_fix"
              }
            }
          },
          "160_segment_jurisdiction_fix": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdictionFix",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "160_wait_for_segment_jurisdiction_fix"
              }
            }
          },
          "160_wait_for_segment_jurisdiction_fix": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "170_clear_error_queues"
              }
            }
          },
          "170_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "170_profile_validation"
              }
            }
          },
          "170_profile_validation": {
            "action": "bua_initiate",
            "args": {
              "run_type": "Validate"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "170_wait_for_profile_validation"
              }
            }
          },
          "170_wait_for_profile_validation": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {}
            }
          },
          "180_resolve_variances": {
            "comment": "bua_resolve_variances",
            "on": {
              "COMPLETE": {
                "delay": 120
              }
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
