states/bua-segments-machine.json
{
  "Comment": "Generate Segments",
  "StartAt": "GenerateSegments",
  "States": {
    "GenerateSegments": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Segments",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "rdssecret",
                "update_id",
                "suffix",
                "schema",
                "run_date",
                "source_date",
                "today",
                "start_inclusive",
                "end_inclusive",
                "end_exclusive"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_clear_error_queues"
              }
            }
          },
          "100_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "110_jurisdiction_segments_avg"
              }
            }
          },
          "110_jurisdiction_segments_avg": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdiction",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "next": "120_jurisdiction_segments_total"
              }
            }
          },
          "120_jurisdiction_segments_total": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdiction",
              "identifier_type": "SegmentJurisdictionTotalExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "130_wait_for_jurisdiction_segments"
              }
            }
          },
          "130_wait_for_jurisdiction_segments": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "140_clear_error_queues"
              }
            }
          },
          "140_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "150_segment_jurisdiction_check_avg"
              }
            }
          },
          "150_segment_jurisdiction_check_avg": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdictionCheck",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "160_segment_jurisdiction_check_total"
              }
            }
          },
          "160_segment_jurisdiction_check_total": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdictionCheck",
              "identifier_type": "SegmentJurisdictionTotalExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "170_wait_for_segment_jurisdiction_check"
              }
            }
          },
          "170_wait_for_segment_jurisdiction_check": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "180_clear_error_queues"
              }
            }
          },
          "180_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "190_segment_jurisdiction_fix_avg"
              }
            }
          },
          "190_segment_jurisdiction_fix_avg": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdictionFix",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "200_segment_jurisdiction_fix_total"
              }
            }
          },
          "200_segment_jurisdiction_fix_total": {
            "action": "bua_initiate",
            "args": {
              "run_type": "SegmentJurisdictionFix",
              "identifier_type": "SegmentJurisdictionTotalExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "210_wait_for_segment_jurisdiction_fix"
              }
            }
          },
          "210_wait_for_segment_jurisdiction_fix": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "220_create_macro_profile_scalar"
              }
            }
          },
          "220_create_macro_profile_scalar": {
            "action": "bua_create_macro_profile",
            "args": {
              "identifier_type": "SegmentJurisdictionAvgExclEst",
              "stream_types": ["CONTROL", "PRIMARY", "SOLAR", "UNKNOWN", "GAS"]
            },
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
