states/bua-select-accounts-machine.json
{
  "Comment": "Select Accounts For This Run",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "domain": "cmil2mssslzz.ap-southeast-2.rds.amazonaws.com",
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12",
          "rdssecret": "cicd/tst-anstead/rds/bua",
          "run_date": "",
          "today": ""
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "SelectAccounts"
    },
    "SelectAccounts": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Selection",
        "next": "100_select_accounts",
        "speed": "slow",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "100_select_accounts": {
            "action": "bua_select_accounts",
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
