states/bua-export-machine.json
{
  "Comment": "Export",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "domain": "cmil2mssslzz.ap-southeast-2.rds.amazonaws.com",
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12",
          "rdssecret": "cicd/{{prefix}}/rds/bua"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "Export"
    },
    "Export": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Export",
        "next": "090_reset_output_tables",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "090_reset_output_tables": {
            "action": "execute_sql",
            "args": {
              "sql": [
                "TRUNCATE TABLE BUAAccountSummary",
                "TRUNCATE TABLE InvoiceLineItemMonthly"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_clear_error_queues"
              }
            }
          },
          "100_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "110_prepare_export"
              }
            }
          },
          "110_prepare_export": {
            "comment": "Prepare data to export",
            "action": "bua_initiate",
            "speed": "slow",
            "args": {
              "run_type": "PrepareExport",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "120_wait_for_prepare_export"
              }
            }
          },
          "120_wait_for_prepare_export": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 300,
            "on": {
              "COMPLETE": {
                "next": "200_clear_error_queues"
              }
            }
          },
          "200_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "210_export_tables_csv"
              }
            }
          },
          "210_export_tables_csv": {
            "action": "bua_initiate",
            "args": {
              "run_type": "ExportTables",
              "table_names": ["BUAAccountSummary", "InvoiceLineItemMonthly"],
              "file_format": "csv",
              "bucket_prefix": "export/csv/{run_date}/",
              "index_col": "id"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "220_wait_for_export_tables"
              }
            }
          },
          "220_wait_for_export_tables": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "next": "230_copy_s3_objects"
              }
            }
          },
          "230_copy_s3_objects": {
            "action": "copy_s3_objects",
            "speed": "slow",
            "args": {
              "source_bucket": "{{prefix}}-s3-bua",
              "source_prefix": "export/csv/{run_date}/",
              "target_bucket": "{{prefix}}-s3-rw-integration",
              "target_prefix": "ADH/OUTBOUND/BUA/",
              "sse": "aws:kms",
              "kms_key_id": "alias/{{prefix}}-bua-shared-key"
            },
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
