states/bua-nem12-machine.json
{
  "Comment": "Generate NEM12 files",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "GenerateNEM12"
    },
    "GenerateNEM12": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "Generate NEM12",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "rdssecret"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_clear_error_queues"
              }
            }
          },
          "100_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "110_get_max_workflow_instance"
              }
            }
          },
          "110_get_max_workflow_instance": {
            "action": "get_max_workflow_instance",
            "on": {
              "COMPLETE": {
                "next": "120_generate_NEM12_files"
              }
            }
          },
          "120_generate_NEM12_files": {
            "comment": "Generate the missing electricity interval reads",
            "action": "bua_initiate",
            "args": {
              "run_type": "NEM12",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "130_wait_for_generate_NEM12_files"
              }
            }
          },
          "130_wait_for_generate_NEM12_files": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "args": {
              "max_errors": 100000
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "140_wait_for_process_NEM12_files"
              }
            }
          },
          "140_wait_for_process_NEM12_files": {
            "comment": "Wait until the aggregation workflows are complete",
            "action": "wait_for_workflows",
            "retry_delay": 120,
            "args": {
              "workflow_names": [
                "ImportNem",
                "ImportGas",
                "AggregateReadNmiDate",
                "RegenerateProfile",
                "ValidateNEM13Read"
              ]
            },
            "on": {
              "COMPLETE": {},
              "FAILED": {
                "next": "150_reschedule_failed_workflows"
              },
              "ONHOLD": {}
            }
          },
          "150_reschedule_failed_workflows": {
            "action": "resubmit_failed_workflows",
            "args": {
              "workflow_names": [
                "ImportNem",
                "ImportGas",
                "AggregateReadNmiDate",
                "RegenerateProfile",
                "ValidateNEM13Read"
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "160_wait_for_resubmitted_workflows"
              }
            }
          },
          "160_wait_for_resubmitted_workflows": {
            "comment": "Wait until the aggregation workflows are complete",
            "action": "wait_for_workflows",
            "retry_delay": 120,
            "args": {
              "acceptable_error_rate": 1,
              "max_errors": 100000,
              "workflow_names": [
                "ImportNem",
                "ImportGas",
                "AggregateReadNmiDate",
                "RegenerateProfile",
                "ValidateNEM13Read"
              ]
            },
            "on": {
              "COMPLETE": {},
              "FAILED": {},
              "ONHOLD": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
