states/bua-machine.json
{
  "Comment": "Bottom Up Accruals",
  "StartAt": "BUA",
  "States": {
    "BUA": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload": {
          "type": "step",
          "name": "BUA",
          "action": "get_stepfunction_arns",
          "data": {
            "start": "ResetBasicReads",
            "stepfunction": {
              "bua-reset-basicreads": "",
              "bua-basicreads": "",
              "bua-invoiceruns": ""
            }
          }
        }
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data.start",
          "StringEquals": "ResetBasicReads",
          "Next": "ResetBasicReads"
        },
        {
          "Variable": "$.data.start",
          "StringEquals": "BasicReads",
          "Next": "BasicReads"
        },
        {
          "Variable": "$.data.start",
          "StringEquals": "InvoiceRuns",
          "Next": "InvoiceRuns"
        }
      ],
      "Default": "ResetBasicReads"
    },
    "ResetBasicReads": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today",
            "stepfunction.$": "$.data.stepfunction"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$": "$.data.stepfunction.bua-reset-basicreads",
        "Name.$": "States.UUID()"
      },
      "OutputPath": "$.Output",
      "Next": "BasicReads"
    },
    "BasicReads": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today",
            "stepfunction.$": "$.data.stepfunction"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$":"$.data.stepfunction.bua-basicreads",
        "Name.$":"States.UUID()"
      },
      "OutputPath": "$.Output",
      "Next": "ExecutionDone"
    },
    "InvoiceRuns": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters":{
        "Input":{
          "data": {
            "run_date.$": "$.data.run_date",
            "today.$": "$.data.today",
            "stepfunction.$": "$.data.stepfunction"
          },
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        },
        "StateMachineArn.$":"$.data.stepfunction.bua-invoiceruns",
        "Name.$":"States.UUID()"
      },
      "OutputPath": "$.Output",
      "Next": "ExecutionDone"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    }
  }
}
