states/bua-utility-profiles-machine.json
{
  "Comment": "Generate Utility Profiles",
  "StartAt": "UtilityProfiles",
  "States": {
    "UtilityProfiles": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Utility Profiles",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "rdssecret",
                "update_id",
                "suffix",
                "schema",
                "run_date",
                "source_date",
                "today",
                "start_inclusive",
                "end_inclusive",
                "end_exclusive"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_record_error_queues"
              }
            }
          },
          "100_record_error_queues": {
            "action": "record_site_errors_queues",
            "on": {
              "COMPLETE": {
                "next": "102_clean_utility_profiles"
              }
            }
          },
          "102_clean_utility_profiles": {
            "action": "clean_site_data",
            "args": {
              "run_type": "Utility"
            },
            "on": {
              "COMPLETE": {
                "next": "105_utility_profiles"
              }
            }
          },
          "105_utility_profiles": {
            "action": "bua_initiate",
            "args": {
              "run_type": "Utility"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "110_wait_for_utility_profiles"
              }
            }
          },
          "110_wait_for_utility_profiles": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "160_record_error_queues"
              }
            }
          },
          "160_record_error_queues": {
            "action": "record_site_errors_queues",
            "on": {
              "COMPLETE": {
                "next": "162_clean_profile_validation"
              }
            }
          },
          "162_clean_profile_validation": {
            "action": "clean_site_data",
            "args": {
              "run_type": "Validate"
            },
            "on": {
              "COMPLETE": {
                "next": "165_profile_validation"
              }
            }
          },
          "165_profile_validation": {
            "action": "bua_initiate",
            "args": {
              "run_type": "Validate"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "170_wait_for_profile_validation"
              }
            }
          },
          "170_wait_for_profile_validation": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {}
            }
          },
          "175_resolve_variances": {
            "comment": "bua_resolve_variances",
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
