states/bua-restore-machine.json
{
  "Comment": "Restore Database",
  "StartAt": "RestoreDatabase",
  "States": {
    "RestoreDatabase": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Restore",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "rdssecret",
                "update_id",
                "suffix",
                "schema",
                "run_date",
                "source_date",
                "today",
                "start_inclusive",
                "end_inclusive",
                "end_exclusive",
                "snapshot_arn",
                "instance_class",
                "instance_type",
                "mysql_version",
                "hosted_zone_id",
                "cluster_name",
                "node_group_name",
                "rds_dns_alias",
                "sqlsecret",
                "params_id"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_restore_database"
              }
            }
          },
          "100_restore_database": {
            "comment": "MySQL 8.0 restore",
            "retries": 2,
            "action": "restore_database",
            "on": {
              "COMPLETE": {
                "next": "150_wait_for_restore_database"
              },
              "FAILED": {
                "next": "130_destroy_database"
              },
              "NEEDCOPY": {
                "next": "110_copy_snapshot"
              }
            }
          },
          "110_copy_snapshot": {
            "action": "copy_snapshot",
            "on": {
              "COMPLETE": {
                "next": "120_wait_for_copy_snapshot"
              }
            }
          },
          "120_wait_for_copy_snapshot": {
            "action": "check_copy_snapshot",
            "retry_delay": 300,
            "on": {
              "COMPLETE": {
                "next": "100_restore_database"
              }
            }
          },
          "130_destroy_database": {
            "action": "destroy_database",
            "on": {
              "COMPLETE": {
                "next": "140_wait_for_destroy_database"
              }
            }
          },
          "140_wait_for_destroy_database": {
            "action": "check_destroy_database",
            "retry_delay": 300,
            "on": {
              "COMPLETE": {
                "next": "100_restore_database"
              }
            }
          },
          "150_wait_for_restore_database": {
            "comment": "MySQL 8.0 restore",
            "action": "check_restore_database",
            "retry_delay": 300,
            "on": {
              "COMPLETE": {
                "next": "160_reset_rds_password"
              }
            }
          },
          "160_reset_rds_password": {
            "comment": "MySQL 8.0 reset password",
            "action": "reset_password",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "170_disable_workflow_schedules"
              }
            }
          },
          "170_disable_workflow_schedules": {
            "action": "disable_workflow_schedules",
            "on": {
              "COMPLETE": {
                "next": "190_set_user_passwords"
              }
            }
          },
          "190_set_user_passwords": {
            "comment": "set the user passwords",
            "action": "execute_sql",
            "args": {
              "sql_secret_name": "{{sqlsecret}}"
            },
            "on": {
              "COMPLETE": {
                "next": "200_stats_sample_pages"
              }
            }
          },
          "200_stats_sample_pages": {
            "action": "stats_sample_pages",
            "speed": "slow",
            "args": {
              "tables": [
                {
                  "name": "AggregatedRead",
                  "sample_pages": 1600
                }
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "210_scale_down_deployments"
              }
            }
          },
          "210_scale_down_deployments": {
            "comment": "kubectl -n core scale --replicas=0 deployment --all",
            "action": "scale_replicas",
            "args": {
              "namespace": "core",
              "deployment": [
                "workflow",
                "meterdata"
              ],
              "replicas": 0
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "220_switch_dns"
              }
            }
          },
          "220_switch_dns": {
            "comment": "need to update route53 entries with the rds server endpoint",
            "action": "set_rds_dns_entry",
            "args": {
              "route53_records": [
                {
                  "name": "{{rds_dns_alias}}",
                  "type": "CNAME"
                }
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "230_set_bua_account_id"
              }
            }
          },
          "230_set_bua_account_id": {
            "action": "set_bua_account_id",
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
