states/bua-microscalar-machine.json
{
  "Comment": "Microscalar",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12",
          "rdssecret": "cicd/{{prefix}}/rds/bua"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "Microscalar"
    },
    "Microscalar": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Microscalar",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_truncate_invoice_scalar"
              }
            }
          },
          "100_truncate_invoice_scalar": {
            "action": "execute_sql",
            "args": {
              "sql": [
                "TRUNCATE TABLE InvoiceScalar"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "180_clear_error_queues"
              }
            }
          },
          "180_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "180_execute_micro_scalar"
              }
            }
          },
          "180_execute_micro_scalar": {
            "comment": "Generate micro scalar values",
            "action": "bua_initiate",
            "speed": "slow",
            "args": {
              "run_type": "MicroScalar",
              "identifier_type": "SegmentJurisdictionAvgExclEst"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "180_wait_for_execute_micro_scalar"
              }
            }
          },
          "180_wait_for_execute_micro_scalar": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 300,
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
