states/bua-utility-profiles-machine.json
{
  "Comment": "Generate Utility Profiles",
  "StartAt": "UtilityProfiles",
  "States": {
    "UtilityProfiles": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "BUA Utility Profiles",
        "next": "000_get_parameters",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "000_get_parameters": {
            "action": "get_parameters",
            "args": {
              "names": [
                "domain",
                "rdssecret",
                "update_id",
                "suffix",
                "schema",
                "run_date",
                "source_date",
                "today",
                "start_inclusive",
                "end_inclusive",
                "end_exclusive"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "050_record_error_queues"
              }
            }
          },
          "050_record_error_queues": {
            "action": "record_site_errors_queues",
            "on": {
              "COMPLETE": {
                "next": "100_warm_meter_register"
              }
            }
          },
          "100_warm_meter_register": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS mr",
                "CREATE TEMPORARY TABLE mr AS SELECT * FROM MeterRegister",
                "DROP TEMPORARY TABLE IF EXISTS mr"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_market_payload_mapping"
              }
            }
          },
          "100_warm_market_payload_mapping": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS mp",
                "CREATE TEMPORARY TABLE mp AS SELECT * FROM MarketPayloadMapping WHERE market_tag = 'ControlledLoad'",
                "DROP TEMPORARY TABLE IF EXISTS mp"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_meter"
              }
            }
          },
          "100_warm_meter": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS mt",
                "CREATE TEMPORARY TABLE mt AS SELECT * FROM Meter WHERE meter_installation_type LIKE 'COMMS%' OR meter_installation_type LIKE 'MR%'",
                "DROP TEMPORARY TABLE IF EXISTS mt"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_utility"
              }
            }
          },
          "100_warm_utility": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS ut",
                "CREATE TEMPORARY TABLE ut AS SELECT * FROM Utility WHERE LENGTH(identifier) = 10",
                "DROP TEMPORARY TABLE IF EXISTS ut"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_utility_detail"
              }
            }
          },
          "100_warm_utility_detail": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS ud",
                "CREATE TEMPORARY TABLE ud AS SELECT * FROM UtilityDetail",
                "DROP TEMPORARY TABLE IF EXISTS ud"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_utility_network"
              }
            }
          },
          "100_warm_utility_network": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS un",
                "CREATE TEMPORARY TABLE un AS SELECT * FROM UtilityNetwork",
                "DROP TEMPORARY TABLE IF EXISTS un"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_utility_tni"
              }
            }
          },
          "100_warm_utility_tni": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS tn",
                "CREATE TEMPORARY TABLE tn AS SELECT * FROM UtilityTni",
                "DROP TEMPORARY TABLE IF EXISTS tn"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_jurisdiction"
              }
            }
          },
          "100_warm_jurisdiction": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS ju",
                "CREATE TEMPORARY TABLE ju AS SELECT * FROM Jurisdiction",
                "DROP TEMPORARY TABLE IF EXISTS ju"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_service_type"
              }
            }
          },
          "100_warm_service_type": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS st",
                "CREATE TEMPORARY TABLE st AS SELECT * FROM ServiceType WHERE name = 'ELECTRICITY'",
                "DROP TEMPORARY TABLE IF EXISTS st"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "100_warm_meter_register_detail"
              }
            }
          },
          "100_warm_meter_register_detail": {
            "action": "execute_sql",
            "speed": "slow",
            "args": {
              "sql": [
                "DROP TEMPORARY TABLE IF EXISTS md",
                "CREATE TEMPORARY TABLE md AS SELECT * FROM MeterRegisterDetail WHERE status = 'C'",
                "DROP TEMPORARY TABLE IF EXISTS md"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "110_clean_utility_profiles"
              }
            }
          },
          "110_clean_utility_profiles": {
            "action": "clean_site_data",
            "args": {
              "run_type": "Utility"
            },
            "on": {
              "COMPLETE": {
                "next": "120_utility_profiles"
              }
            }
          },
          "120_utility_profiles": {
            "action": "bua_initiate",
            "args": {
              "run_type": "Utility"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "130_wait_for_utility_profiles"
              }
            }
          },
          "130_wait_for_utility_profiles": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "200_record_error_queues"
              }
            }
          },
          "200_record_error_queues": {
            "action": "record_site_errors_queues",
            "on": {
              "COMPLETE": {
                "next": "210_clean_profile_validation"
              }
            }
          },
          "210_clean_profile_validation": {
            "action": "clean_site_data",
            "args": {
              "run_type": "Validate"
            },
            "on": {
              "COMPLETE": {
                "next": "220_profile_validation"
              }
            }
          },
          "220_profile_validation": {
            "action": "bua_initiate",
            "args": {
              "run_type": "Validate"
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "230_wait_for_profile_validation"
              }
            }
          },
          "230_wait_for_profile_validation": {
            "action": "wait_for_empty_site_queues",
            "retry_delay": 120,
            "on": {
              "COMPLETE": {}
            }
          },
          "300_resolve_variances": {
            "comment": "bua_resolve_variances",
            "on": {
              "COMPLETE": {}
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
