states/invoiceruns-machine.json
{
  "Comment": "Invoice Runs",
  "StartAt": "DefaultValues",
  "States": {
    "DefaultValues": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "$.data",
        "defaults": {
          "domain": "cmil2mssslzz.ap-southeast-2.rds.amazonaws.com",
          "schema": "Turkey_BLU",
          "suffix": "bua-sql",
          "update_id": "12",
          "rdssecret": "cicd/tst-anstead/rds/bua"
        }
      },
      "Next": "MergeData"
    },
    "MergeData": {
      "Type": "Pass",
      "Parameters": {
        "data.$": "States.JsonMerge($.defaults, $.data, false)"
      },
      "Next": "InvoiceRuns"
    },
    "InvoiceRuns": {
      "Type": "Pass",
      "Parameters": {
        "type": "step",
        "name": "Invoice Runs",
        "next": "230_clear_error_queues",
        "speed": "fast",
        "retry_delay": 120,
        "data.$": "$.data",
        "steps": {
          "230_clear_error_queues": {
            "action": "empty_site_errors_queues",
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "231_prepare_invoice_runs"
              }
            }
          },
          "231_prepare_invoice_runs": {
            "action": "execute_sql",
            "args": {
              "sql": [
                "UPDATE Workflows SET priority = 'XHIGH' WHERE name = 'GENERATE_ILI'",
                "UPDATE Workflows SET priority = 'HIGH' WHERE name = 'RUN_INVOICE_BATCH'",
                "UPDATE Workflows SET priority = 'NORMAL' WHERE name = 'INVOICEGEN'"
              ]
            },
            "on": {
              "COMPLETE": {
                "next": "232_invoice_runs"
              }
            }
          },
          "232_invoice_runs": {
            "action": "bua_initiate_invoice_runs",
            "speed": "slow",
            "args": {
              "num_groups": 16,
              "num_batches": 90,
              "concurrent_batches": 18,
              "schedule_gap": 3,
              "min_days": 1
            },
            "on": {
              "COMPLETE": {
                "delay": 300,
                "next": "233_wait_for_invoice_run_schedules"
              }
            }
          },
          "233_wait_for_invoice_run_schedules": {
            "action": "wait_for_workflow_schedules",
            "args": {
              "workflow_names": [
                "GENERATE_ILI"
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 120,
                "next": "234_wait_for_invoice_runs_ili"
              }
            }
          },
          "234_wait_for_invoice_runs_ili": {
            "action": "wait_for_workflows",
            "retry_delay": 300,
            "args": {
              "workflow_names": [
                "GENERATE_ILI"
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 300,
                "next": "235_wait_for_invoice_run_batches"
              },
              "FAILED": {},
              "ONHOLD": {}
            }
          },
          "235_wait_for_invoice_run_batches": {
            "action": "wait_for_workflows",
            "retry_delay": 300,
            "args": {
              "workflow_names": [
                "RUN_INVOICE_BATCH"
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 300,
                "next": "237_wait_for_invoicegen"
              },
              "FAILED": {
                "delay": 300,
                "next": "236_reschedule_failed_invoice_batches"
              },
              "ONHOLD": {}
            }
          },
          "236_reschedule_failed_invoice_batches": {
            "action": "resubmit_failed_workflows",
            "retries": 3,
            "args": {
              "workflow_names": [
                "RUN_INVOICE_BATCH"
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 300,
                "next": "235_wait_for_invoice_run_batches"
              }
            }
          },
          "237_wait_for_invoicegen": {
            "action": "wait_for_workflows",
            "retry_delay": 300,
            "args": {
              "acceptable_error_rate": 1,
              "workflow_names": [
                "INVOICEGEN"
              ]
            },
            "on": {
              "COMPLETE": {},
              "FAILED": {
                "next": "238_reschedule_failed_invoicegen"
              },
              "ONHOLD": {}
            }
          },
          "238_reschedule_failed_invoicegen": {
            "action": "resubmit_failed_workflows",
            "retries": 1,
            "args": {
              "workflow_names": [
                "INVOICEGEN"
              ]
            },
            "on": {
              "COMPLETE": {
                "delay": 60,
                "next": "237_wait_for_invoicegen"
              }
            }
          }
        }
      },
      "Next": "NextTransition"
    },
    "FastController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FastControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 180,
      "Next": "WhatNext"
    },
    "SlowController": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SlowControllerFunction}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 900,
      "Next": "WhatNext"
    },
    "WhatNext": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.next",
              "StringEquals": ""
            },
            {
              "Variable": "$.result.status",
              "StringEquals": "COMPLETE"
            }
          ],
          "Next": "ExecutionDone"
        },
        {
          "Variable": "$.next",
          "StringEquals": "",
          "Next": "ExecutionFailed"
        },
        {
          "Variable": "$.delay",
          "NumericGreaterThan": 0,
          "Next": "WaitForNext"
        }
      ],
      "Default": "NextTransition"
    },
    "ExecutionDone": {
      "Type": "Succeed"
    },
    "ExecutionFailed": {
      "Type": "Fail",
      "Cause": "Step not COMPLETE"
    },
    "WaitForNext": {
      "Type": "Wait",
      "SecondsPath": "$.delay",
      "Next": "NextTransition"
    },
    "NextTransition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.speed",
          "StringEquals": "slow",
          "Next": "NextTransitionSlow"
        }
      ],
      "Default": "NextTransitionFast"
    },
    "NextTransitionSlow": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "SlowController"
    },
    "NextTransitionFast": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.type",
        "name.$": "$.name",
        "this.$": "$.next",
        "data.$": "$.data",
        "steps.$": "$.steps"
      },
      "Next": "FastController"
    }
  }
}
